.home-container{
    .user-card{
        background-color: #cde5ff;
        padding: 25px;
        border-radius: 2px;
        margin: 5px 0;
        overflow: none;
        &:hover{
            cursor: pointer;
            background-color: #cde5f0;
            transition: .3s;
        }
        .user-fav{
            z-index: 10;
            background-color: white;
            width: 25px;
            height: 25px;
            &:hover{
                cursor: pointer;
                background-color: black;
            }
        }
    }
}